/* Media Queries */

@media (min-width: 1600px) {
  .section-b .container {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  /* Section A styles */

  .section-a .container {
    padding: 0 3rem;
  }
  .section-a .container a {
    padding: 0;
  }

  /* Section B styles */
  .section-b {
    height: 2600px;
  }
  .section-b .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    padding: 40px 0;
  }
  .section-b .container div {
    margin: 20px 0;
  }
  .section-b .container h1 {
    font-size: 25px;
    align-self: center;
  }
}

@media (max-width: 1000px) {
  .section-a {
    height: 450px;
  }
  .section-a .container h1 {
    font-size: 20px;
  }
  .section-a .container h2 {
    font-size: 20px;
  }
  .section-a .container h3 {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .intro {
    font-size: 25px;
  }
  .intro-text {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .intro {
    font-size: 20px;
  }
  /* Section A styles */
  .section-a {
    height: 450px;
  }
  .section-a .container * {
    margin: 0;
    padding: 10px;
  }
  .section-a .containerh1 {
    font-size: 17px;
  }
  .section-a .container h2 {
    font-size: 15px;
  }
  .section-a .container h3 {
    font-size: 13px;
  }

  .section-b {
    height: 2100px;
  }
  .section-b .container h1 {
    font-size: 18px;
  }
  .section-b .container div {
    width: 300px;
  }
  .section-b .container div img {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .section-a div h1 {
    font-size: 25px;
  }
  .section-a h2 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .intro {
    font-size: 17px;
  }
  /*section-a styles*/
  .section-a .container {
    padding: 0 1rem;
  }
  /* Section B styles */
  .section-b {
    height: 1900px;
  }

  .section-b .container div {
    width: 250px;
  }

  .section-b .container div img {
    width: 250px;
  }
}
