@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-align: center;
  line-height: 1.7;
}

body {
  font-family: 'Sriracha', cursive;
}
button {
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}
